API_LOCATION=location (example: 0.0.0.0)
API_PORT=port_number (example: 5000)
ALLOWED_REGISTRY_CREATORS=location,location,etc. (example: https://google.com,https://safari.com)
DB_REGISTRY=Registry_database_name (example: Database.db)

USERNAME=username (example: JVM)
EMAIL=email (example: JVM@location.place)
PASSWORD=password (example: Password123)