<!DOCTYPE html>
<html>
<head>
<title>AuthPage</title>
</head>
<body>
<p id="formFilledOut" style="display:none">Please wait while your log in information is being handled.</p>
<form id="Form" type="POST" style="display:contents;" onsubmit="authReq();return false;">
<input type="text" required id="Uname">
<br>
<input id="pass" type="password" required>
<br>
<input type="submit">
</form>
<br>
<button onclick="__testConnection__()">Testing POST connection</button>
<p id="constat">There is an LoadingError</p>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script>
const form = document.getElementById("Form")
const formFilledOut = document.getElementById("formFilledOut")
const constat = document.getElementById("constat")
const password = document.getElementById("pass")
var timeoutAmount = 0
constat.innerHTML = "{{page_status}}";
function __testConnection__(){
    if(constat.innerHTML!="trying to connect" & constat.innerHTML!="Connected"){
        if(constat.innerHTML=="Not Connected"){constat.innerHTML = "trying to connect";}
        ConTimeout = setTimeout(function(){
            if(constat.innerHTML!="Connected"){
                timeoutAmount = timeoutAmount+1
                let timeOutMessage = "("+timeoutAmount+") TimeOutError, trying to reconnect.";
                constat.innerHTML = timeOutMessage;
                if(timeoutAmount>=10){
                    constat.innerHTML = "Connection Failed";
                }
                else{
                    __testConnection__();
                }
            }
        }, 1000);
        $.ajax({
            type: "POST",
            url: "{{url_for('conStat')}}",
            data: {},
            success: function(returnedval){constat.innerHTML = returnedval;},
        })
    }
}
function authReq(){
    var username = document.getElementById("Uname").value
    var password = document.getElementById("pass").value
    const DBM = true
    $.ajax({
        type: "POST",
        url: "{{url_for('infoHandler')}}",
        data: {"name":username,"password":password,"debug":DBM},
        success: function(returned_values){
            form.style.display = "none";
            formFilledOut.style.display="block";
            formStatus = returned_values.form_status
            isdb = returned_values.ISDB
            formFilledOut.innerHTML=formStatus;
            if(isdb == true){
                alert("...")
            }
        },
    })
}
</script>
</html>