<!DOCTYPE html>
<html>

<head>
    <title>AuthPage</title>
    <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>
</head>

<body>
    <p id="formStatus" style="display:none">Please wait while your log in information is being handled.</p>
    <form id="authForm" type="POST" style="display:contents;">
        <input id="username" name="name" type="text" required>
        <br>
        <input id="password" name="password" type="password" required>
        <br>
        <input type="submit">
    </form>
    <br>
    <p id="connectionStatus">There is an LoadingError</p>
</body>
<script>
    const authForm = document.getElementById("authForm")
    const formStatusEl = document.getElementById("formStatus")
    const connectionStatusEl = document.getElementById("connectionStatus")
    const password = document.getElementById("pass")
    let timeoutAmount = 0
    connectionStatusEl.innerHTML = "Not Connected";
    window.onload=testConnection()
    function testConnection() {
        if (connectionStatusEl.innerHTML != "trying to connect" & connectionStatusEl.innerHTML != "Connected") {
            if (connectionStatusEl.innerHTML == "Not Connected") { connectionStatusEl.innerHTML = "trying to connect"; }
            connectionTimeout = setTimeout(function () {
                if (connectionStatusEl.innerHTML != "Connected") {
                    timeoutAmount = timeoutAmount + 1
                    let timeOutMessage = "(" + timeoutAmount + ") TimeOutError, trying to reconnect.";
                    connectionStatusEl.innerHTML = timeOutMessage;
                    if (timeoutAmount >= 10) {
                        connectionStatusEl.innerHTML = "Connection Failed";
                    }
                    else {
                        testConnection();
                    }
                }
            }, 1000);
            fetch("{{url_for('connectionStatus')}}", {
                method: "POST",
            })
                .then(res => res.text())
                .then(statusText => {
                    connectionStatusEl.innerHTML = statusText;
                })

        }
    }
    function authReq(e) {
        e.preventDefault()
        let username = document.getElementById("username").value
        let password = document.getElementById("password").value
        const DBM = true
        let formData = new FormData(authForm)
        formData.append("debug", DBM)
        fetch("{{url_for('infoHandler')}}", {
            method: "POST",
            body: formData,
        })
            .then(res => res.json())
            .then(returned_values => {
                authForm.style.display = "none";
                formStatusEl.style.display = "contents";
                formStatus = returned_values.form_status
                in_database = returned_values.ISDB
                formStatusEl.innerHTML = formStatus;
                if (in_database == true) {
                    connectionStatusEl.innerHTML = "Connection terminated as part of a succesfull form."
                }
            })
    }
    authForm.addEventListener("submit", authReq)
</script>

</html>