<!DOCTYPE html>
<html>
<head>
<title>AuthPage</title>
</head>
<body>
<p id="formStatus" style="display:none">Please wait while your log in information is being handled.</p>
<form id="authForm" type="POST" style="display:contents;" onsubmit="authReq();return false;">
<input type="text" required id="username">
<br>
<input id="password" type="password" required>
<br>
<input type="submit">
</form>
<br>
<p id="connectionStatus">There is an LoadingError</p>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script>
const authForm = document.getElementById("authForm")
const formStatusEl = document.getElementById("formStatus")
const connectionStatusEl = document.getElementById("connectionStatus")
const password = document.getElementById("pass")
let timeoutAmount = 0
connectionStatusEl.innerHTML = "Not Connected";
window.onload(testConnection())
function testConnection(){
    if(connectionStatusEl.innerHTML!="trying to connect" & connectionStatusEl.innerHTML!="Connected"){
        if(connectionStatusEl.innerHTML=="Not Connected"){connectionStatusEl.innerHTML = "trying to connect";}
        connectionTimeout = setTimeout(function(){
            if(connectionStatusEl.innerHTML!="Connected"){
                timeoutAmount = timeoutAmount+1
                let timeOutMessage = "("+timeoutAmount+") TimeOutError, trying to reconnect.";
                connectionStatusEl.innerHTML = timeOutMessage;
                if(timeoutAmount>=10){
                    connectionStatusEl.innerHTML = "Connection Failed";
                }
                else{
                    testConnection();
                }
            }
        }, 1000);
        $.ajax({
            type: "POST",
            url: "{{url_for('connectionStatus')}}",
            data: {},
            success: function(statusText){connectionStatusEl.innerHTML = statusText;},
        })
    }
}
function authReq(){
    let username = document.getElementById("username").value
    let password = document.getElementById("password").value
    const DBM = true
    $.ajax({
        type: "POST",
        url: "{{url_for('infoHandler')}}",
        data: {"name":username,"password":password,"debug":DBM},
        success: function(returned_values){
            authForm.style.display = "none";
            formStatusEl.style.display="contents";
            formStatus = returned_values.form_status
            in_database = returned_values.ISDB
            formStatusEl.innerHTML=formStatus;
            if(in_database == true){
                constat.innerHTML = "Connection terminated as part of a succesfull form."
            }
        },
    })
}
</script>
</html>